*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    width: 20rem;
    padding: 1rem;
}

.title {
    font-size: 1.5rem;
}

#editor-output {
    margin-top: 1rem;
    font-size: 1.2rem;
}