*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    overflow-y: scroll;
}

body {
    width: 20rem;
    padding: 1rem;
    background-color: rgba(30, 143, 255, 0.155);
}

.title {
    background-color: rgba(68, 202, 124, 0.468);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.title h2 {
    font-size: 1.5rem;
}

#editor-output {
    margin-top: 1rem;
    font-size: 1.2rem;
}

.hide {
    display: none !important;
}

.hide>* {
    display: none;
}

.popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    overflow: auto;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    text-align: center;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.error {
    color: red !important;
}

.flex {
    display: flex;
}

.flexed-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexed-wrap {
    display: flex;
    flex-wrap: wrap;
}

.flexed-away {
    display: flex;
    justify-content: space-between;
}

.rounded {
    width: 1.75rem;
    height: 1.75rem;

    border-radius: 50%;
}

#essay-analysed {
    display: flex;
    flex-wrap: wrap;

    gap: 2rem;
}

#essay-highlighted,
#essay-breakdown,
#essay-breakdown-count,
#essay-rhythm {
    width: 100%;
}

#essay-breakdown-count,
#essay-rhythm {
    display: flex;
    flex-wrap: wrap;
}

#essay-statistics {
    width: 50%;
}