*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    overflow-y: scroll;
    width: 20rem;
}

body {
    width: 100%;
   
}

#main {
    padding: 0.5rem;
}

#title {
    background-color: rgb(0 8 66 / .85);
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
}

#title > div {
    width: 80%;
    height: 100%;

    padding: 0 10px;

    font-size: 1.5rem;
    font-weight: 600;
}

.title-wrapper {
    width: 100%;
    height: 100%;
    animation: fadeInLeft 0.5s ease-out;
    margin-bottom: -0.75rem;
    font-weight: 700;
    font-style: italic;
    font-size: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text-1 {
    width: 100%;
    margin-bottom: -10px;
    color: #fff;
}

.text-2 {
    width: 100%;
    z-index: 10;
    color: #3848c0;
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

#user-info {
    width: 20%;
    height: 100%;
    display: flex;
    padding: 8px;
}

#editor-output {
    margin-top: 1rem;
    font-size: 1.2rem;
}

.hide {
    display: none !important;
}

.hide>* {
    display: none;
}

.popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    overflow: auto;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    text-align: center;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.error {
    color: red !important;
}

.flex {
    display: flex;
}

.flexed-center {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 2px;
}

.flexed-wrap {
    display: flex;
    flex-wrap: wrap;
    margin-right: -50px;
   
}

.flexed-away {
    display: flex;
    justify-content: space-between;
}

.rounded {
    width: 1.75rem;
    height: 1.75rem;

    border-radius: 50%;
}

.w-full {
    width: 100%;
    border: none; /* Remove default border */
    border-top: 0.5px dashed #333; /* Change color as desired */
    margin: 6px 0; /* Add margin for spacing */
}

#essay-analysed {
    display: flex;
    flex-wrap: wrap;

    gap: 1rem;
}

#essay-highlighted,
#essay-breakdown,
#essay-breakdown-count,
#essay-rhythm {
    width: 100%;
    text-align: justify;
}



#essay-breakdown-count,
#essay-rhythm {
    display: flex;
    flex-wrap: wrap;
}

#essay-statistics {
    width: 50%;
}

#signin{
    background-color: rgb(0 8 66 / .85);
    color: #fff;
    border: 2px solid #3498db;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 150px;
    font-weight: bold;
}

#signin:hover{
    background-color: rgba(0, 13, 109, 0.85);
    border-color: rgba(0, 13, 109, 0.85);
}

#signin-info{
    /* font-family: 'Arial', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: bold;
    color: rgb(0 8 66 / .85);; 
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2); 
    letter-spacing: 1px;
    line-height: 1.5; 
    padding-top: 5px;
    padding-bottom: 10px;

}

#editor-output{
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: bold;
    color: rgb(0 8 66 / .85);; 
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2); 
    letter-spacing: 1px;
    line-height: 1.5; 
    padding-top: 5px;
    padding-bottom: 10px;

}

#essay-highlighted h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px; 
    font-weight: bold; 
    color: #333; 
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2); 
    letter-spacing: 1px; 
    line-height: 1.5; 
}

#essay-highlighted span{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px; 
    color: #333; 
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2); 
    letter-spacing: 1px; 
    line-height: 1.5; 
    text-align: center;
    padding: 3px; 
}

#essay-breakdown h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: bold; 
    color: #333; 
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2); 
    letter-spacing: 1px; 
    line-height: 1.5; 
}

#essay-breakdown div{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px; 
    color: #333; 
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2); 
    letter-spacing: 1px; 
    line-height: 1.5; 
    padding: 3px;
}

#essay-breakdown-count div{
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: bold; 
    color: #333; 
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2); 
    letter-spacing: 1px; 
    line-height: 1.5; 
}

#essay-breakdown-count{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px; 
    color: #333; 
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2); 
    letter-spacing: 1px; 
    line-height: 1.5; 
    padding: 3px;

}

#essay-breakdown-count span{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px; 
    color: #333; 
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2); 
    letter-spacing: 1px; 
    line-height: 1.5; 
    padding: 3px;
}

#essay-rhythm h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: bold; 
    color: #333; 
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2); 
    letter-spacing: 1px; 
    line-height: 1.5; 
}

#essay-rhythm{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px; 
    color: #333; 
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2); 
    letter-spacing: 1px; 
    line-height: 1.5; 
    padding: 3px;
}

#essay-rhythm span{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px; 
    color: #333; 
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2); 
    letter-spacing: 1px; 
    line-height: 1.5; 
    padding: 3px;
}

#essay-statistics h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: bold; 
    color: #333; 
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2); 
    letter-spacing: 1px; 
    line-height: 1.5; 
}

